body{
	
    background-size: cover;
    background-attachment: fixed;
}
h1{
	font-style: Serif;
	text-align: center;
}
table{
	color: white;
	align-content: center;
	font-family: 'Trebuchet MS', monospace;
	text-align: center;
	font-size: 100%;
	margin: auto;
 }
th{
	font-style: Serif;
	text-align: center;
}
