h1{
	font-style: Serif;
	text-align: center;
}
table{
	color: white;
	align-content: center;
	font-family: 'Serif';
	text-align: center;
	font-size: 50%;
	margin: auto;
 }
th{
	font-style: Serif;
	text-align: center;
}
